:root {
    --navyblue: #2E2F42;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --white: #FFFFFF;
    --slate: #434455;
    --cloud: #F4F4FD;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate)
    background-color: var(--white)
}
.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}

/**----HEADER----------------------------------------------*/

.header-logo {
    color: var(--iris, #4D5AE5);
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo span {
    color: var(--navyblue, #2E2F42);
}
.header-menu-link {
    color: var(--navyblue);
    font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--ocean)
}
.header-adrress-link {
    color: var(--slate);
    font-size: 16px;
font-family: Roboto;
line-height: 1.5;
letter-spacing: 0.02em;
font-style: normal;
}
.header-adrress-link:hover,
.header-adrress-link:focus {
    color: var(--ocean);
}

/**----HERO----------------------------------------------*/


.hero {
    background-color: var(--navyblue);
}
.hero-title {
    font-size: 56px;
font-family: Roboto;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--white);
text-align: center;
}
.hero-btn {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white);
background-color: var(--iris);
cursor: pointer;
}
.hero-bt:hover,
.hero-bt:focus {
    background-color: #404BBF;
}

/**---ADVANTAGES----------------------------------------------*/

.advantages {
}
.advantages-list {
}
.advantages-item {
}
.advantages-subtitle {
    font-size: 20px;
font-family: Roboto;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navyblue);
}
.advantages-item-text {
    font-size: 16px;
font-family: Roboto;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
/**----HERO----------------------------------------------*/

.doing {
}
.doing-title {
    font-size: 36px;
font-family: Roboto;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navyblue);
text-align: center;
}
.doihng-list {
}
.doihg-item {
}
.doing-img {
}

/**----TEAM----------------------------------------------*/

.team { 
 background-color: var(--white);
}
.team-title {
    font-size: 36px;
font-family: Roboto;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navyblue,);
text-align: center;
}
.team-list {
}
.team-item {
}
.team-item-img {
}
.team-subtitle {
    font-size: 20px;
font-family: Roboto;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navyblue);
text-align: center;
}
.team-list-text {
    font-size: 16px;
font-family: Roboto;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate,);
text-align: center;
}
/**----FOOTER----------------------------------------------*/

.footer {
    background-color: var(--navyblue);
}
.footer-logo {
    color: var(--iris);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-logo span {
    color: var(--cloud);
}
.footer-text {
    font-size: 16px;
font-family: Roboto;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--cloud);
}

/**----PORTFOLIOFILTERS----------------------------------------------*/

.filter {
}
.visually-hidden {
}
.filter-list {
}
.filter-item {
}
.filter-btn {
    font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04;
color: var(--iris,);
text-align: center;
background: var(--cloud);
cursor: pointer;
}
/**----GALARY----------------------------------------------*/


.galary {
}
.galary-list {
}
.galary-item {
}
.galary-link {
}
.galary-img {
}
.galary-subtitle {
    font-size: 20px;
font-family: Roboto;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navyblue);
}
.galary-text {
    font-size: 16px;
font-family: Roboto;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}